<body>
  <h1>Covid cijfers Nederland</h1>
  <!-- <app-dashboard></app-dashboard> -->
  <app-covidstat>
    <!-- <app-covidmetric [totalNLfromParent]='totalOfNL'></app-covidmetric> -->
  </app-covidstat>
 

  <!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Stock Tracker</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link">Dashboard</a>
          <a class="mdl-navigation__link">Manage</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content" style="padding: 20px;">
      <stock-dashboard></stock-dashboard>
    </main>
  </div> -->
</body>